/* =========== RESET =========== */
* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	border: none;
	outline: none;
	box-sizing: border-box;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}

body {
	background-color: #f5f5f5;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

img {
	max-width: 100%;
}

/* CABECALHO */

.cabecalho {
	width: 100%;
	float: left;
	padding: 3% 4%;
}

.cabecalho .logo {
	width: 56px;
	height: 56px;
	float: left;
	background-image: url(../img/logo-mobile.png);
	background-position: center center;
	background-size: 56px;
	background-repeat: no-repeat;
	font-size: 0;
}